.icon-openproject {
	background-image: url('../img/app-dark.svg');
	filter: var(--background-invert-if-dark);
	min-width: 32px !important;
}

/* for NC <= 24 */
body.theme--dark .icon-openproject {
	background-image: url('../img/app.svg');
}

.option-open-project > .icon-openproject, .action-open-project > .icon-openproject {
	height: 100%;
}
