.icon-openproject {
	background-image: url(./../img/app.svg);
	filter: contrast(0) brightness(0) !important;
	min-width: 32px !important;
}

.icon-noConnection {
	background-image: url(./../img/noConnection.svg);
}

body[data-theme-dark] .icon-openproject {
	filter: none !important;
}

body[data-theme-dark] .icon-close, .icon-checkmark, .icon-noConnection {
	filter: var(--background-invert-if-dark) !important;
}
