span.icon-open-project {
	padding: 0 !important;
	background: url('../img/tab-logo.svg') no-repeat center;
	min-width: 44px !important;
	min-height: 16px !important;
}

body.theme--dark span.icon-open-project {
	background: url('../img/tab-logo-white.svg') no-repeat center;
}

#tab-open-project, .fill-height {
	height: 100%;
}

.center-content {
	display: flex;
	align-content: center;
	justify-content: center;
}
