@import '../css/dashboard.css';

span.icon-openproject {
	padding: 0 !important;
	min-width: 44px !important;
	min-height: 16px !important;
	background-size: 16px 16px;
}

#tab-open-project {
		height: 100%;
}
