# SPDX-FileCopyrightText: 2022-2025 Jankari Tech Pvt. Ltd.
# SPDX-FileCopyrightText: 2021-2023 Nextcloud GmbH and Nextcloud contributors
# SPDX-FileCopyrightText: 2022 OpenProject GmbH
# SPDX-License-Identifier: AGPL-3.0-or-later
js/
.code-workspace
.DS_Store
.idea/
.vscode/
.vscode-upload.json
.*.sw*
node_modules
.phpunit.result.cache
coverage/
example/
log/
vendor/
.php-cs-fixer.cache
tests/pact/
docker-compose.override.yml
compose.override.yaml
.env

# VSCode
.vscode
*.code-workspace

# dev environment
!dev/.env
dev/apps
dev/certs
